@charset "utf-8";

/*COMMON====================*/

img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

::selection {
  background: #b2cbe4;
}

body {
  color: #333;
  overflow-x: hidden;
  transition: .3s;
}

a {
  text-decoration: none;
  color: #333;
  transition: .3s;
}

/*ANIMATION====================*/

@keyframes anime01 {

  30% {
    opacity: 1;
  }

  100% {
    margin-top: 40px;
    opacity: 0;
  }

}

/*FONT====================*/

@font-face {
  font-family: 'font1';
  src: url(../fonts/Cormorant-Regular.ttf);
  unicode-range: U+0030-007A;
}

body {
  font-family: 'font1', 'a-otf-ryumin-pr6n';
  font-size: 1.2vw;
}

.access_text p,
.footer_detail {
  font-family: 'a-otf-ryumin-pr6n'
}

/*PC====================*/

br.sp_br {
  display: none;
}

h2.sp_h2 {
  display: none;
}

/*nav----------*/

nav {
  position: fixed;
  right: -400px;
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
  width: 400px;
  height: 100vh;
  text-align: center;
  font-size: 24px;
}

ul.nav_main {
  margin-top: 15vh;
}

ul.nav_sub {
  margin-top: 15vh;
  font-size: 16px;
}

nav ul li {
  margin: 4vh;
}

nav a {
  color: #fff;
}

#nav_toggle {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 40px;
  right: 50px;
  z-index: 2;
}

#nav_toggle div {
  position: relative;
}

#nav_toggle span {
  display: block;
  height: 2px;
  background: #333;
  position: absolute;
  width: 100%;
  left: 0;
  transition: .5s;
}

#nav_toggle span:nth-child(1) {
  top: 0px;
}

#nav_toggle span:nth-child(2) {
  top: 16px;
}

#nav_toggle span:nth-child(3) {
  top: 32px;
}

#nav_toggle.open span {
  background: #fff;
}

#nav_toggle.open span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav_toggle.open span:nth-child(2) {
  width: 0;
  left: 50%;
}

#nav_toggle.open span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#nav_toggle.open ~ nav {
  right: 0;
}

/*header----------*/

header {
  background: url(../images/pc_top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 56.25vw;
  position: relative;
}

h1 {
  font-size: 10vw;
  line-height: 7vw;
  padding: 15vw 0 0 35vw;
  white-space: nowrap;
}

h1 span {
  display: block;
  font-size: 2vw;
  text-indent: 0.4vw;
  letter-spacing: 0.4vw;
}

div.scroll {
  position: absolute;
  left: 0;
  right: 0;
  width: 10vw;
  font-size: 2vw;
  text-align: center;
  margin: 10vw auto 0 auto;
}

div.scroll span {
  display: inline-block;
  transform: rotate(90deg);
  margin-top: 10px;
  animation: anime01 2s infinite;
}

a[href="#news"] {
  display: block;
}

/*news----------*/

section#news {
  height: auto;
  background: #fff;
}

div.flex {
  display: flex;
}

section#news .left {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 12vw;
}

section#news .right {
  width: 50%;
  display: flex;
  margin-top: 7vw;
}

h2 {
  font-size: 4vw;
  letter-spacing: 0.3vw;
}

ul.newslist time {
  margin-right: 2vw;
  font-size: 1.5vw;
}

ul.newslist li {
  padding: 1.5vw 5vw 1.5vw 0;
  border-bottom: 1px solid #999999;
}

ul.newslist li:last-child {
  border-bottom: none;
}

a.news_detail {
  display: inline-block;
  margin: 4vw 0 7vw 0;
}

a.news_detail i.fa-caret-right {
  margin-left: 1vw;
  transition: .3s;
}

/*concept/menu/access----------*/

div.concept_image,
div.menu_image {
  width: 50%;
}

div.concept_image img,
div.menu_image img {
  width: 100%;
  height: 50%;
}

div.textbox {
  width: 50%;
  text-align: center;
}

div.textbox h2 {
  padding: 10vw 0;
}

div.textbox p {
  font-size: 1.8vw;
  line-height: 2;
  margin-bottom: 10vw;
}

a.detail i.fa-caret-right {
  margin-left: 1vw;
  transition: .3s;
}

section#concept,
section#menu,
section#access {
  height: 56.25vw;
  display: flex;
  background: #eeffee;
}

section#concept,
section#access {
  flex-direction: row-reverse;
}

section#concept {
  background: #eeffee;
}

section#menu {
  background: #ffffee;
}

section#access {
  background: #eeffff;
}

.access_text {
  width: 100%;
}

iframe {
  width: 50%;
  height: 56.25vw;
}

/*footer----------*/

footer {
  background: #fff;
}

div.footer_text {
  margin-left: 6vw;
}

p.footer_title {
  font-size: 1.8vw;
  margin-bottom: 1.5vw;
}

p.footer_detail {
  line-height: 2;
  font-size: 0.8vw;
}

footer small {
  display: block;
  margin: 0 0 4vw 6vw;
  font-size: 1vw;
}

footer ul.footer_nav_left {
  margin-left: 30vw;
  font-size: 1vw;
  line-height: 2.5;
}

footer ul.footer_nav_right {
  font-size: 0.8vw;
  line-height: 3;
}

footer div.sns {
  margin-right: 6vw;
}

footer div.sns img {
  width: 2.5vw;
}

footer img.twitter {
  margin-right: 3vw;
}

footer div.flex {
  margin-top: 4vw;
  justify-content: space-between;
}

/*hover----------*/

@media screen and (min-width:601px) {

  a:hover {
    opacity: 0.6;
  }

  a.news_detail:hover > i.fa-caret-right {
    margin-left: 2vw;
  }

  a.detail:hover {
    margin-left: 1vw;
  }

  a.detail:hover > i.fa-caret-right {
    margin-left: 2vw;
  }

  footer div.sns a:hover {
    opacity: 0.4;
  }

}

/*SP====================*/

@media screen and (max-width:600px) {

  h2.pc_h2 {
    display: none;
  }

  h2.sp_h2 {
    display: block;
  }

  body {
    font-size: 3.5vw;
    transition: 0s;
  }

  a {
    border-bottom: 1px solid #333;
  }

  ul.newslist li {
    border-bottom: none;
  }

  a.news_detail {
    padding-bottom: 2px;
  }

  nav a,
  div.scroll a,
  div.sns a {
    border-bottom: none;
  }

  nav {
    width: 100%;
    right: -100%;
  }

  #nav_toggle {
    top: 30px;
    right: 30px;
  }

  header {
    height: 100vh;
    width: 100vw;
    width: 100vw;
    background: url(../images/sp_top.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
  }

  h1 {
    padding: 0;
    padding: 35vh 10vw 0 0;
    float: right;
    font-size: 15vw;
    line-height: 12vw;
  }

  h1 span {
    font-size: 5vw;
  }

  div.scroll {
    width: 25vw;
    font-size: 6vw;
    top: 75vh;
  }

  br.sp_br {
    display: block;
  }

  section#news {
    height: 150vw;
  }

  section#news div.left,
  section#news div.right,
  div.textbox,
  div.concept_image,
  div.menu_image,
  iframe {
    width: 100%;
    margin: 0;
  }

  section#news div.right div {
    width: 75%;
    margin: auto;
  }

  section#news div.right div time {
    font-size: 5vw;
  }

  h2 {
    font-size: 8vw;
    letter-spacing: 0.8vw;
    margin: 0 auto;
  }

  section#news div.flex {
    display: block;
  }

  section#news h2 {
    margin: 12vw 0;
  }

  ul.newslist {
    line-height: 1.7;
    margin-bottom: 10vw;
    white-space: nowrap;
  }

  ul.newslist li {
    padding: 0vw 5vw 4vw 1.5vw;
  }

  div.centering {
    text-align: center;
  }

  section#concept,
  section#menu,
  section#access {
    flex-direction: column;
    justify-content: space-evenly;
    height: 200vw;
  }

  section#concept h2,
  section#menu h2,
  section#access h2 {
    order: 1;
  }

  section#concept div.concept_image,
  section#menu div.menu_image,
  section#access iframe {
    order: 2;
    margin-bottom: -6vw;
  }

  div.textbox {
    order: 3;
  }

  div.textbox p {
    font-size: 3.5vw;
  }

  div.textbox a {
    font-size: 3.5vw;
  }

  iframe {
    height: 112.5vw;
  }

  footer {
    margin: 10vw 10vw;
  }

  footer div.flex {
    flex-wrap: wrap;
  }

  footer div.footer_text {
    order: 1;
    margin: 0 10vw 10vw 0;
  }

  footer div.sns {
    order: 2;
  }

  footer ul.footer_nav_left {
    margin-left: 0;
    font-size: 3vw;
    line-height: 3.5;
    order: 3;
  }

  footer ul.footer_nav_right {
    line-height: 4.2;
    margin-right: 15vw;
    font-size: 2.5vw;
    order: 4;
  }

  footer div.sns img {
    width: 6vw;
    margin-top: 1vw;
  }

  footer div.sns img.twitter {
    margin-right: 5vw;
  }

  p.footer_title {
    font-size: 6vw;
    margin-bottom: 4vw;
  }

  p.footer_detail {
    font-size: 2.5vw;
    line-height: 2;
  }

  footer small {
    margin: 10vw 0 0 0;
    font-size: 2.5vw;
  }

}
