@charset "utf-8";

/*keyframes====================*/

@keyframes fade1 {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes navopen_ul {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes navopen_li {

  from {
    border: none;
    height: 0;
  }

  to {
    height: 60px;
  }

}

@keyframes btnanime1 {

  from {
    width: 0;
  }

  to {
    width: 100%;
    width: calc(100% + 1px);
  }

}

@keyframes btnanime2 {

  from {
    width: 100%;
    width: calc(100% + 1px);
  }

  to {
    width: 0;
  }

}

@keyframes background1 {

  from {
    width: 0;
  }

  to {
    width: 100%;
  }

}

/*COMMON====================*/

.fadesection,
.fadesection_in {
  opacity: 0;
}

.openingfade {
  animation: fade1 1s;
}

::selection {
  background: #87ceeb;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
}

.heroimg p:nth-of-type(1),
h2,
h3 {
  font-family: fot-rodin-pron, sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-weight: 400;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

/*PC====================*/

.sp_br,
.climg_sp {
  display: none;
}

/*header----------*/

header {
  width: 100%;
  height: 60px;
  background: #001E43;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  z-index: 100;
}

.logo_link,
img[alt="INFO ACADEMY"] {
  height: 40px;
  transition: .3s;
}

header .logo_link {
  margin-left: 3vw;
}

.header_right {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

#nav_toggle p {
  display: none;
}

.sb1 span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  line-height: 100%;
  color: #ff975e;
  font-size: 12px;
}

.sp_subnav {
  display: none;
}

.freetrial {
  color: #fff;
  transition: .5s;
}

.header_btn {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 17px;
  background: url(../images/gradient1.png);
  background-position: 100% 0;
  margin-right: 3vw;
  transition: .3s;
}

.btn2 {
  line-height: 60px;
  font-size: 20px;
  height: 60px;
  padding: 15px 60px;
  background: url(../images/gradient2.png);
  background-position: 100% 0;
}

.fa-angle-down,
.fa-angle-right {
  margin-left: 10px;
}

/*h1----------*/

h1::before {
  content: "";
  display: block;
  height: 60px;
}

.heroimg {
  background: url(../images/heroimg.jpg);
  background-size: cover;
  background-position: center;
  padding: 70px 50px;
}

.maxwidth {
  max-width: 1200px;
  margin: 0 auto;
}

.heroimg p:nth-of-type(1) {
  font-size: 36px;
  margin-bottom: 50px;
}

.heroimg p:nth-of-type(1) span {
  display: inline-block;
  margin: 0 10px;
  font-size: 54px;
  color: #FF4C00;
}

.heroimg p:nth-of-type(2) {
  margin-bottom: 65px;
  font-size: 24px;
  font-weight: 500;
}

/*about----------*/

main > section,
.trial {
  padding: 50px 0;
}

/*#about.fadeInUp::before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  padding: 0.5px 0;
  z-index: -1;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(-20deg, #82cddd 0, #82cddd 10px, #e2e7eb 10px, #e2e7eb 20px, #a1d8e2 20px, #a1d8e2 30px, #fff 30px, #fff 40px, #a0d8ef 40px, #a0d8ef 50px, #e2e7eb 50px, #e2e7eb 60px);
  animation: background1 .3s ease-in 1s forwards;
  opacity: 0.15;
}*/

#about {
  position: relative;
}

#about::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background: url(../images/about_bg_pc2.png);
  background-position: center 30px;
  background-size: auto 90%;
  background-repeat: no-repeat;
  opacity: 0.4;
}

#about .maxwidth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about p {
  text-align: center;
  line-height: 2;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  display: inline-block;
}

h2::after {
  display: block;
  content: "";
  height: 5px;
  width: 35%;
  background: #001E43;
  margin: 15px auto 0 auto;
}

.common_btn {
  width: 120px;
  line-height: 50px;
  height: 50px;
  padding: 0 60px;
  border: 2px solid #001E43;
  color: #001E43;
  text-align: center;
  transition: .3s;
  position: relative;
}

/*attribute----------*/

#attribute {
  text-align: center;
}

.attr_figure {
  display: flex;
  justify-content: space-between;
  width: 700px;
  text-align: center;
  margin: 0 auto;
}

.attr_figure img {
  width: 200px;
  margin-bottom: 25px;
}

.attr_figure p {
  font-weight: 400;
  color: #328EFF;
}

.attr_box {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.attr_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px;
  width: 50%;
  width: calc(50% - 25px);
  height: 300px;
  text-align: left !important;
}

.attr_right {
  margin-left: 25px;
  width: 50%;
  width: calc(50% - 25px);
  object-fit: cover;
  height: 300px;
}

#attribute div:nth-of-type(3) .attr_right {
  order: 1;
  margin: 0 25px 0 0;
}

#attribute div:nth-of-type(3) .attr_left {
  order: 2;
  margin: 0 0 0 25px;
}

h3 {
  font-size: 24px;
}

.attr_left p:nth-of-type(2) {
  color: #328EFF;
  font-weight: 500;
}

.fa-check {
  margin-right: 10px;
}

/*curriculum----------*/

#curriculum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.climg_pc {
  width: 90%;
  max-width: 1200px;
  margin: 25px 0 50px 0;
}

/*result----------*/

#result {
  text-align: center;
}

.result_wrap {
  display: flex;
  justify-content: center;
}

.result_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.result_box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.result_box:nth-of-type(1) img {
  object-position: top;
  margin-right: 25px;
  width: 100%;
  width: calc(100% - 25px);
}

.result_box:nth-of-type(2) img {
  margin-left: 25px;
  width: 100%;
  width: calc(100% - 25px);
}

.result_box p:nth-of-type(1) {
  margin: 25px 0;
}

.addition_text {
  font-size: 12px;
  margin-top: 15px;
}

.addition_text:nth-of-type(3) {
  margin-top: 5px;
}

.emphasis {
  color: #328EFF;
  font-weight: 500;
}

.addition {
  font-size: 8px;
  vertical-align: top;
}

.result_box:nth-of-type(1) .common_btn {
  width: 160px;
  padding: 0 40px;
}

/*trial----------*/

.trial {
  background: url(../images/trial_bg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.trial p {
  font-weight: 400;
}

.trial .btn2 {
  margin: 25px 0;
  padding: 0 60px;
}

/*footer----------*/

footer {
  background: #001E43;
}

footer * {
  transition: .3s;
  color: #fff;
}

.footer_wrap {
  padding: 30px 6vw 30px 3vw;
}

.sns,
.footer_nav,
.footer_nav_sub {
  display: flex;
}

.footer_nav {
  float: right;
}

.sns {
  margin: 30px 0 50px 0;
}

.sns img {
  height: 24px;
  margin-right: 50px;
}

.footer_nav_sub {
  margin: 0;
}

.footer_nav li,
.footer_nav_sub li {
  margin-right: 3vw;
}

.footer_nav li:last-child {
  margin: 0;
}

.copyright {
  margin: 0 0 0 auto !important;
}

.footer_nav_sub,
footer small {
  font-size: 12px;
}

/*PCANIME====================*/

@media screen and (min-width:801px) {

  nav ul {
    display: flex;
    margin-right: 1.5vw;
  }

  .dd_toggle {
    position: relative;
  }

  .dd_toggle > a {
    padding: 0 1.5vw;
    display: block;
    line-height: 60px;
    background: #001e43;
    transition: .3s;
  }

  .submenu {
    display: none;
    position: absolute;
  }

  .submenu a {
    display: block;
  }

  nav ul li ul,
  nav ul li ul li {
    transition: .5s;
  }

  nav ul li ul.open {
    position: absolute;
    top: 60px;
    left: 0;
    display: block;
    box-sizing: border-box;
    animation: navopen_ul .5s;
  }

  nav ul li ul.open li {
    height: 60px;
    line-height: 60px;
    background: #001E43;
    box-sizing: border-box;
    padding-left: 20px;
    animation: navopen_li .5s;
  }

  nav ul li ul.open li {
    margin-bottom: 2px;
  }

  nav ul li ul.sb1.open li:nth-child(odd) {
    margin-right: 2px;
  }

  ul.sb1.open {
    display: flex;
    flex-wrap: wrap;
  }

  ul.sb1.open li {
    width: 462px;
  }

  ul.sb1.open li:nth-child(n+3),
  ul.sb2.open li,
  ul.sb3.open li {
    width: 230px;
  }

  header a {
    height: 60px;
    color: #ffffff;
  }

  nav ul li ul.open li:hover {
    background: #808fa1;
  }

  .dd_toggle > a:hover {
    background: #808fa1;
  }

  .freetrial:hover {
    background-position: 0 0;
  }

  .cb_mouseover::before {
    display: block;
    content: "";
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    z-index: -1;
    width: 0;
    height: 100%;
    height: Calc(100% + 1px);
    background: #001E43;
    animation: btnanime1 .3s forwards;
  }

  .cb_mouseout::before {
    display: block;
    content: "";
    position: absolute;
    top: -0.5px;
    right: -0.5px;
    z-index: -1;
    width: 0;
    height: 100%;
    height: Calc(100% + 1px);
    background: #001E43;
    animation: btnanime2 .3s forwards;
  }

  .common_btn:hover {
    color: #fff;
  }

  .logo_link:hover,
  footer a:hover {
    opacity: 0.7;
  }

}

/*SP====================*/

@media screen and (max-width:800px) {

  body {
    overflow-x: hidden;
  }

  .pc_br,
  .climg_pc {
    display: none;
  }

  .sp_br,
  .climg_sp {
    display: block;
  }

  #nav_toggle {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    position: relative;
  }

  #nav_toggle span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    height: 2px;
    width: 30px;
    background: #fff;
    transition: .3s;
  }

  nav,
  .header_btn {
    display: none;
  }

  #nav_toggle span:nth-child(1) {
    top: -34px;
  }

  #nav_toggle span:nth-child(2) {
    top: -14px;
  }

  #nav_toggle span:nth-child(3) {
    top: 6px;
  }

  #nav_toggle.open span:nth-child(1) {
    top: -14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav_toggle.open span:nth-child(2) {
    width: 0;
  }

  #nav_toggle.open span:nth-child(3) {
    top: -14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  #nav_toggle .close {
    opacity: 0;
  }

  #nav_toggle.open .close {
    opacity: 1;
  }

  #nav_toggle .menu,
  #nav_toggle .close {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    position: absolute;
    bottom: 6px;
    width: 60px;
    text-align: center;
  }

  #nav_toggle.open .menu {
    opacity: 0;
  }

  nav {
    position: absolute;
    top: 60px;
    right: -100%;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 30, 67, 0.7);
    transition: .3s ease-out;
    display: block;
  }

  header .logo_link {
    margin-left: 5vw;
  }

  header img[alt="INFO ACADEMY"],
  header .logo_link {
    max-height: 40px;
    height: 9vw;
  }

  nav.open {
    right: 0;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
  }

  nav.open::-webkit-scrollbar {
    width: 8px;
  }

  nav.open::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }

  nav.open::-webkit-scrollbar-thumb {
    background: #c0c7d0;
  }

  nav a {
    display: inline-block;
    color: #fff;
  }

  nav > ul > li {
    border-bottom: 1px solid #fff;
    padding: 15px 0;
    margin: 0 15px;
  }

  .dd_toggle .submenu {
    display: none;
  }

  .dd_toggle ul li {
    height: 40px;
    font-size: 16px;
  }

  .dd_toggle ul li:first-child {
    margin-top: 18px;
  }

  .sp_subnav {
    display: block;
    height: 120px;
    border-bottom: none;
  }

  .sp_subnav .sns {
    width: 200px;
    margin: 20px auto;
    justify-content: center;
  }

  .sns img {
    display: inline-block;
    margin-right: 0px;
  }

  .sns img[alt="twitter"] {
    display: inline-block;
    margin-left: 50px;
  }

  ul.sb1 li {
    width: 400px;
    margin: 0;
  }

  ul.sb1 li:nth-child(n+3),
  ul.sb2 li,
  ul.sb3 li {
    width: 200px;
  }

  ul.sb1 {
    display: flex;
    flex-wrap: wrap;
  }

  i {
    transition: .3s;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .heroimg {
    padding: 30px 0;
  }

  .maxwidth {
    padding: 0 20px;
  }

  .heroimg .maxwidth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroimg p:nth-of-type(1) {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .heroimg p:nth-of-type(1) span {
    margin: 0 5px 0 0;
    font-size: 32px;
  }

  .heroimg p:nth-of-type(2) {
    margin-bottom: 65px;
    font-size: 16px;
    font-weight: 500;
  }

  .btn2 {
    font-size: 16px;
    background-position: 80% 0;
    padding: 0 30px !important;
    line-height: 50px;
    height: 50px;
    width: 80%;
    max-width: 300px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  #about::before {
    background: url(../images/about_bg_sp.png);
    background-position: center 30px;
    background-size: auto 80%;
    background-repeat: no-repeat;
  }

  .attr_figure {
    width: 100%;
  }

  .attr_figure img {
    width: 25vw;
  }

  .attr_box {
    margin-top: 50px;
    flex-direction: column;
  }

  h3 {
    font-size: 24px;
  }

  #attribute h3 {
    margin: 30px 0;
  }

  .attr_left {
    margin-right: 0;
    width: 100%;
    height: auto;
    order: 2;
    text-align: center !important;
    align-items: center;
  }

  .attr_left p:nth-of-type(2) {
    margin: 30px 0;
  }

  .attr_right {
    margin-left: 0;
    width: 100%;
    object-fit: cover;
    height: auto;
    order: 1;
  }

  #attribute div:nth-of-type(3) .attr_right {
    margin: 0;
  }

  #attribute div:nth-of-type(3) .attr_left {
    margin: 0;
  }

  #curriculum {
    padding: 50px 20px;
    text-align: center;
  }

  .climg_sp {
    height: 18vw;
    object-fit: cover;
    margin: 25px 0 50px 0;
  }

  .result_wrap {
    display: block;
  }

  .result_box:nth-of-type(1) img {
    margin-right: 0;
  }

  .result_box:nth-of-type(2) img {
    margin: 30px 0 0 0;
  }

  .trial {
    width: auto;
    padding: 30px 20px;
    text-align: center;
  }

  .footer_wrap {
    padding: 30px 40px 50px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer_nav,
  .footer_nav_sub {
    flex-direction: column;
  }

  .footer_nav li,
  .footer_nav_sub li {
    margin-bottom: 20px;
  }

  .footer_nav {
    width: 45%;
    order: 1;
    margin-left: 0;
    font-size: 12px;
  }

  .footer_nav_sub {
    width: 45%;
    order: 2;
  }

  footer .logo_link {
    margin-right: 100%;
  }

  .sns {
    margin-right: 100%;
  }

  .footer_wrap {
    position: relative;
  }

  .copyright {
    position: absolute;
    bottom: 20px;
    left: 40px;
  }

}
